.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
        }
    &:after {
        clear: both;
        }
    }

@mixin resetInput($color-bg: false) {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    @if $color-bg {
        background: $color-bg;
        }
    }
