html {
	height: 100%;
	}

body {
	// height: 100%;
	min-height: 100%;
	position: relative;
	background: linear-gradient(to top, #ddedf6, #fff);
	}

.title {
	display: inline-block;
	font-size: 18px;
	font-family: $font-bulletin-sans-pro-light;
	line-height: 30px;
	color: #2270a7;
	}
