$width-main: 1000px;
$color-link: #2270a7;

$font-bulletin-sans-pro-light: "PF Bulletin Sans Pro Light";
$font-bulletin-sans-pro-regular: "PF Bulletin Sans Pro Regular";
$font-bulletin-sans-pro-medium: "PF Bulletin Sans Pro Medium";
$font-bulletin-sans-pro-bold: "PF Bulletin Sans Pro Bold";
$font-agora-sans-pro-light: "PF Agora Sans Pro Light";
$font-agora-sans-pro-regular: "PF Agora Sans Pro Regular";
$font-din-display-pro-light: "PF Din Display Pro Light";
$font-din-display-pro-regular: "PF Din Display Pro Regular";
$font-myriad-pro: "Myriad Pro";
