.bottomline
	.inner
		//при добавлении класса ._active (товара в корзину) - кнопка (.bottomline-checkout) красная
		a.bottomline-checkout href="" Оформить заказ
		ul.bottomline-menu
			li.bottomline-menu-compare
				a href=""
					span Сравнение
					b 0
			li.bottomline-menu-bookmarks
				a href=""
					span Закладки
					b 0
			li.bottomline-menu-basket
				a href=""
					span Корзина
					b 0 | 0.00 Руб

		a.bottomline-upbutton.js-upbutton href="" Наверх