footer
	.footer-menu
		.footer-menu-block
			strong Информация
			ul
				li
					a href="" О нас
				li
					a href="" Новости
				li
					a href="" Политика Безопасности
				li
					a href="" Условия соглашения

		.footer-menu-block
			strong Служба поддержки
			ul
				li
					a href="" Связаться с нами
				li
					a href="" Условия возврата
				li
					a href="" Карта сайта

		.footer-menu-block
			strong Дополнительно
			ul
				li
					a href="" Клуб Альбис+
				li
					a href="" Партнерская программа
				li
					a href="" Акции

		.footer-menu-block
			strong Личный Кабинет
			ul
				li
					a href="" Личный Кабинет
				li
					a href="" История заказа
				li
					a href="" Закладки
				li
					a href="" Рассылка

	.footer-social
		strong Мы в социальных сетях
		a class="-fb" href=""
		a class="-vk" href=""
		a class="-twitter" href=""
		a class="-gplus" href=""
		a class="-skype" href=""

	.footer-payments
		strong Вы можете оплатить следующими способами:
		a class="-i1" href=""
		a class="-i2" href=""
		a class="-i3" href=""
		a class="-i4" href=""
		a class="-i5" href=""
		a class="-i6" href=""
		a class="-i7" href=""
		a class="-i8" href=""
		a class="-i9" href=""
