.topline
	.inner
		ul.topline-menu
			li
				a href="" О компании
			li
				a href="" Новости
			li
				a href="" Статьи
			li
				a href="" Вакансии
			li
				a href="" Контакты

		ul.topline-userpanel
			li
				a href="" Выйти
			li
				a href="" Евгений Сергеевич
