---
title: index.html
---

header
	a.header-logo href="/"
		img	src="images/header-logo.png"
	.header-info
		.header-info-time
			span ПН - СБ
			span 10:00 - 18:00
		.header-info-phone 8 (8452) 74-42-81
		.header-info-money
			' Валюта:
			b._active Рубль
			b $
			b €
	ul.header-menu
		li._active
			a href="" Главная
		li._special
			a href="" Акции
		li
			a href="" Оплата
		li
			a href="" Доставка
		li
			a href="" Еще
	form.header-search
		input type="text" placeholder="Введите название или код товара"
		input.header-search-btn type="submit" value=""

#content
	.menu
		ul
			li.-eq1._fixed
				a href=""
					span Категории товаров
			li.-eq2
				a href=""
					span Системы видеонаблюдения
			li.-eq3
				a href=""
					span Системы контроля доступа
			li.-eq4
				a href=""
					span ОПС
			li.-eq5
				a href=""
					span Огнетушители и системы пожаротушения
			li.-eq6
				a href=""
					span Кабель и монтажное оборудование
			li.-eq7
				a href=""
					span Источники БП и зарядные устройства
			li.-eq8
				a href=""
					span Тревожное оповещение
			li.-eq9
				a href=""
					span Электротехническое оборудование
			li.-eq10
				a href=""
					span Системы кондиционирования

	.slider
		ul
			li._active
				img src="images/fish/002.jpg"
			li
				img src="images/fish/003.jpg"
			li
				img src="images/fish/004.jpg"
			li
				img src="images/fish/005.jpg"
		.slider-controls
			span._active
			span
			span
			span

	.products.products_popular
		strong.title Хиты продаж
		ul
			- 4.times do
				li
					a href=""
						img src="images/fish/001.jpg" alt=""
						b Мультиварка Panasonic SR TMH18LTW
					span
						' 2990
						i руб.

	.products.products_hot
		strong.title Специальные предложения по акциям!
		ul
			- 4.times do
				li
					a href=""
						img src="images/fish/001.jpg" alt=""
						b Мультиварка Panasonic SR TMH18LTW
					span
						' 2990
						i руб.
		a.products-all href="" Посмотреть все специальные предложения
