header {
	height: 157px;
	position: relative;
	}
	.header-logo {
		width: 203px;
		height: 53px;
		top: 34px;
		left: 31px;
		position: absolute;
		overflow: hidden;
		}
	.header-info {
		margin-top: 29px;
		margin-right: 31px;
		float: right;
		font-size: 13px;
		color: #68747b;
		font-family: $font-bulletin-sans-pro-regular;
		text-align: right;
		}
		.header-info-phone {
			margin-bottom: 3px;
			line-height: 42px;
			font-size: 30px;
			font-family: $font-bulletin-sans-pro-light;
			color: #1c689a;
			}
		.header-info-money {
			font-size: 14px;
			font-family: $font-myriad-pro;
			color: #7f8a91;

			b {
				margin-left: 5px;

				&:not(._active) {
					text-decoration: underline;
					color: #2370a3;
					}

				&._active {
					color: #36566b;
					}
				}
			}

	.header-menu {
		height: 24px;
		left: 29px;
		right: 570px;
		bottom: 7px;
		position: absolute;
		line-height: 0;
		font-family: $font-myriad-pro;
		font-size: 0;

		a {
			padding: 0 5px;
			color: #2270a7;
			text-decoration: none;
			}

		li {
			margin: 0 10px 0 0;
			line-height: 30px;
			font-size: 18px;
			display: inline-block;
			}

		._active a {
			color: #1f5479;
			border-bottom: 3px solid #1f5479;
			}

		._special a {
			display: block;
			padding-left: 29px;
			color: #fe1c1c;
			background: url('../images/icon-percent_small.png') no-repeat 0 1px;
			}
		}

	.header-search {
		width: 540px;
		height: 40px;
		bottom: 1px;
		right: 30px;
		position: absolute;

		input {
			@include resetInput;
			outline-style: none;
			}

		input[type=text] {
			width: 100%;
			height: 40px;
			padding: 0 50px 0 15px;
			box-sizing: border-box;
			border: 1px solid #c9c9c9;
			border-radius: 4px;
			font-family: $font-bulletin-sans-pro-medium;
			font-size: 14px;
			line-height: 44px;
			color: #b9b9b9;

			&:hover, &:focus {
				border-color: #3e91cc;
				}
			}
		}
		.header-search-btn {
			width: 16px;
			height: 16px;
			top: 12px;
			right: 25px;
			position: absolute;
			background: url('../images/search-icons.png') no-repeat 0 0;
			cursor: pointer;

			&:hover {
				background-position: 0 100%;
				}
			}
