.topline {
	height: 52px;
	background: #1c689a;
	.inner {
		width: 940px - 16px;
		margin: 0 auto;
		}
		.topline-menu {
			float: left;
			line-height: 52px;
			font-size: 15px;
			font-family: $font-bulletin-sans-pro-regular;
			li {
				padding-right: 12px;
				display: inline-block;
				}
			li:before {
				width: 1px;
				height: 12px;
				margin: 20px 0 0 11px;
				float: right;
				display: block;
				content: "\0020";
				background:#3f80ab;
				}
			li:last-child:before {
				display: none;
				}
			}
			.topline-menu {
				a {
					color: #bbd6e9;
					text-decoration: none;
					}
				a:hover {
					color: #ffffff;
					}
				}

		.topline-userpanel {
			@extend .topline-menu;
			float: right;

			li:last-child {
				padding-right: 0;
				}
			li:first-child a {
				color: #c7e1f1;
				}
			li:last-child a {
				padding-right: 36px;
				color: #e8f0f6;
				text-decoration: underline;
				background: url('../images/auth.png') no-repeat;
				background-position: 100% 0px;
				&:hover {
					background-position: 100% -20px;
					}
				}
			li a:hover {
				color: #ffffff;
				}
			}
	}
